*{
    padding: 0%;
    margin: 0%;
    overflow-x:hidden;
}
::-webkit-scrollbar {
    display: none;
  }


header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    background-image:linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0),black);
}
header ul{
    list-style:none;
    display: flex;
    margin-left: 400px;
}

header h2:hover{
    outline: 2px;
    border: 2px;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
    cursor: pointer;
    border-style: double;
    border-color: bisque;
}

header:after {
	content:'';
  top:0;
	transform:translateX(100%);
	width:100%;
	height:60px;
	position: absolute;
	z-index:1;
	animation: slide 3s infinite 40s;
	 
 
  background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 */
}

/* animation */

@keyframes slide {
	0% {transform:translateX(-100%);}
	100% {transform:translateX(100%);}
}


header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;    
}

header ul li a{
    color: aliceblue;
    text-decoration: overline;
}
header ul li:hover{
    background:linear-gradient(black,rgba(2, 46, 46, 0.507));
    color:azure
}



.carousel-item{
    height: 100vh;
    min-height:300px;
}

.carousel-caption{
    bottom:220px;
    z-index: 2;
}

.carousel-caption h5{
    font-size:45px;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-top:25px;
    font-family:Stick No Bills, sans-serif;
}
.text{
font-family: The Nautigal, cursive;
font-size: 40px;
}

.carousel-inner::before{
   content:'';
   position: absolute;
   width:100% ;
   height: 100%;
   top: 0;
   left:0 ;
   background: rgba(0,0,0,0.7);
   z-index:1;
}

